{% load static %} 
<header>
  <!-- Logo Principal -->
  <a href="{% url 'core:home' %}">
    <img class="logo" src="{% static 'img/core/logo_DATOM2.png' %}" alt="Logotipo de DATOM">
  </a>

  <!-- Menú de navegación -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="border: none;">
      <!-- Aquí está el SVG sin borde ni fondo -->
      <img src="{% static 'img/toggle-icon.svg' %}" alt="Toggle icon" style="width: 40px; height: 40px;">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item">
          <a href="{% url 'core:home' %}" class="nav-link">Inicio</a>
        </li>

        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <form method="post" action="{% url 'core:logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-link nav-link">Cerrar sesión</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a href="{% url 'core:login' %}" class="nav-link">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'core:register' %}" class="nav-link">Registrarse</a>
          </li>
        {% endif %}

        <li class="nav-item">
          <a href="{% url 'scrap:scrap_home' %}" class="nav-link">Scrap</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Down</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Producción</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
